body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

section {
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 700px;
}

article {
    display: inline-block;
    min-width: 150px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
}

.code {
    font-style: italic;
    font-weight: normal;
}

.Blueberry {
    background-color: #6B7A8F
}

.Apricot {
    background-color: #F7882F
}

.Citrus {
    background-color: #F7C331
}

.Apple_Core {
    background-color: #DCC7AA
}